sudo: required
language: java
notifications:
  email: false
jdk:
- oraclejdk8
services:
- docker
script:
- make
- curl -s https://raw.githubusercontent.com/EnMasseProject/travis-scripts/master/docker-build.sh
  | bash /dev/stdin enmasseproject/qdrouterd-base . 1.0.0-alpha2 1.0.0-alpha2
- curl -s https://raw.githubusercontent.com/EnMasseProject/travis-scripts/master/docker-push.sh
  | bash /dev/stdin enmasseproject/qdrouterd-base 1.0.0-alpha2
- curl -s https://raw.githubusercontent.com/EnMasseProject/travis-scripts/master/trigger-travis.sh
  | bash /dev/stdin enmasse
env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: PQhg/AjkM4s5PSwiOUi1rC26ZiUJMOHUw3zC6ceGecrOYiRyH8l11HK46AmNG+j9vjG33HerTGpPgQPCLB5WZTsazwiQrj6OIorChxJ8OnxOfpKT175hd0l+UnDvljuQLUr2dWYSLuR67garkK4c0hp6BcN6wBUQ1ZwO7aGqno+QV5Nu7NpE5kXCow8rYsRYnRgEsJ1nWmGOpmP1H7+Jxx7QHf6/xybfnVlxlu7lsSGPwoWK360zEKfogMF/L4AJoxgXPK0ietYi1Pf8KJ4wtNpZMvL0aigjZlRG3du7gTE3qoDxcZ01GbjOd2YyAkA5nwSog3vSw9z8YOgZiNinihV7pSv6CJjnPpBzbRAVEgHK2LWR8hRJBd1rhUzsjocaypJLBcrOX40aoczTrZ/jzvo2V+4+6Q6VUp/Lu5avIYW6eVRMnV7bmxU/8RXMS8SJYtmMQFHvgZKhf3KjZHju1I/0NZXtqGoh5YCKao5iE6KVt6kGygTvToUJdj4RFS9Y6fnNZwl4jpAOrmampoIp3Qy+NucMwep4uFbVKjj6XMlJGabC122i+edZODD/ZdVgjeD0Kasf1mFHwexofmYt9vTzoTi9na1U14OWGFSZwaxFJzuIQ3OHymMwK/heOr9J0Ck+fptxJS6cGGtaL5pp+iol7mXiELxgX+jkWSVHbJg=
  - secure: DclGvJHzpcEHLFjyqXs1PSzkb17KbGRnlx9VVDQFF469RTyHMz0daDHcGo6/qRNqgznv1HUdDwVH3h0hO5A9DlAdHNVshyhnydUvva92O+NlXFYreo28oCTkHXx8eNVIlvEwuDexnBv1u5Cah2s7z0tGxBprBbvqoFefA4aLrDVkHhk1tUfgE9BaCgbKUhBY0mk4J72wb2SNSq5WIUgGGDHcVBKBsgPeyxS0VKhlXDHQ4VNyTRAE5mKGGPesmtLXSu55DT1cjsSBIq/r4nn3VEU/BzWDrlh7N9qSQyCkaePohzEYAp+gMv8wTx/UlBDVdlAtV2Knghzxg4jGe16UghkIt7JPYs9KHugZ/xrPkDn5RtEyUiTG2wM6R/mJ0AVCr9yy02Akc0Q7qU49PTeWl2Z6QxUD53wtKvKVR2lQkVZxKX1I34GdhZafMTgYRcle3xabpIdjIz8XtMwGJvkXeeYK9r4jOPucBvNwl/yx9mP4OfY3rswQrORypImL4HvuTXmUPlJwdWtVgMbtWUE4tuZybMkX4HeX3E2nCvM7TAAb5gYu2bQ/DhMYGu88p2AnSWePJGWPJ3CvP4+q0IzyQbvs1XKg+LDhC37Xbs2z6KGxYs7kYu36/Wph2N7yPvO1hHXJwOiqWtEsSgKGxM+eixgVz04rNY+uf99c5I6oikI=
  - secure: EmUEqnwrvAJ1aQYlb7OKvxzNmJ1L4fX37Kat0/PuPD5heQyOqjjNkfoBS6k4hvoo/wsvv3D6Vux/vwtHJaWMA1TH0sLqH8CPkuGlE8p+K+rklcz8/uXRe1Eow7dt+v4BLvGlFwTPZ7NELibFCrvClIfNflx9KW9FZdRBB5ffjzOsDN/uWh3oA2nOhHEXbz9xxM33s9TNAHqZQ0LRN+9GRZd7cA8t4m/8ds7g0WZG3dqNzn1yUxSHvN5poBAQfZSc6pHDaRJD7a0geKGEx3tMMnIF14kMFGiLmQ4Qto6+eQoDyK1PjX/RRQDErS8oL50P9LyHRljBWU5NbBBROzjOt+P1eye4hgcvEnFoTky7gwF5zAhk7/l/F2CroIhKMlU8crn+TtwSJKCn9RfmYhpSobwHiFIDjv8vLDk40RbUNZAfzs2i0pMIQ+2PDylHez6S00ViJ4UjTvEOEhzVY1M8XpWYAascFAsSP1LhokFkSpzJgnI2aYVzG1EHllR1Pf8Fgkp8hcOyNLg1LfwOV35ox0LuS90Jm0n4I4LugAPTJ90JySuYRGXgUdOO7LnzWhNsbxlQC6YPn2BPAHURDIDWzi10e2G8e23YSf7AhLuT6nVsV6sawzHivn8qN8ldGGu81jlblMOQ73fdjRXjwrPRpH3XmvkjiF9px5xyH9ZBEQI=
